<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/principal_propietario/home-propietario.css') }}">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Barberos Disponibles</title>
</head>
<body>
    <main>
        <div id="volver">
            <a href="/principal_cliente">
                <i class="lni lni-arrow-left"></i>
            </a>
        </div>
        <h2 id="tlo">Barberos disponibles</h2>
        <section id="info-barberos">
            {% for barbero in barberos %}
            <div class="tarjeta-barbero">
                <figure class="contenedor-img-barbero">
                    {% if barbero[8] %}
                    <img class="img-barbero" src="{{ url_for('uploaded_file', filename=barbero[8]) }}" alt="Foto de perfil">
                    {% else %}
                    <img class="img-barbero" src="{{ url_for('static', filename='img/icono-usuario.png') }}" alt="icono usuario">
                    {% endif %}
                </figure>

                <div class="contenedor-datos-barbero">
                    <p class="nom-barbero">{{ barbero[1] }} {{ barbero[2] }}</p>
                    <div class="btones">

                        <button type="button" class="btn-actividad-barbero">
    
                            <a href="{{ url_for('mostrar_horarios_disponibles', cedula_barbero=barbero[0]) }}"  type="button">Elegir</a>
                        </button>
    
                        <button type="button" class="btn-actividad-barbero">
    
                            <a href="{{ url_for('perfilC_barbero', cedula_barbero=barbero[0]) }}" type="button">Ver Perfil</a>
    
                        </button>

                    </div>

                </div>
                
            </div>
            {% endfor %}

            
                

              
            </div>
        </section>
       
    </main>
</body>
</html>