<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar Servicios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/servicio.css') }}">
</head>
<body>
    <main class="contenedor">
    
    <form action="/guardar_cita" method="POST">
        <input type="hidden" name="cedula_barbero" id="cedula_barbero" value="{{ cedula_barbero }}">

        <h1 class="titlo-datos">Escribe tus datos</h1>
        <input class="nom-info" type="text" id="nombre" name="nombre" placeholder="Nombre">
        <input class="nom-info" type="text" id="apellidos" name="apellidos"  placeholder="Apellido">
        <input class="nom-info" type="tel" id="telefono" name="telefono"  placeholder="Telefono">
        {% for servicio in servicios %}
        <div>
            
            <h3 class="servicios">Servicios</h3>
            <input class="cheks-servi" type="checkbox" name="servicios_seleccionados" value="{{ servicio[1] }}">

            <label>{{ servicio[2] }} - {{ servicio[3]}}</label>
        </div>
        {% endfor %}

        <input class="nom-info" type="date" id="fecha" name="fecha">
        
        <h4 class="servicios">Hora</h4>
        <input class="nom-info" type="time" id="hora" name="hora">

        <button id="btn-guardar" type="submit">Guardar Cita</button>
    </form>
    </main>
</body>
</html>