<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/barberia/estilos-registro-barberia.css') }}">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/principal_propietario/estilos-menu.css') }}">
    <script src="{{ url_for('static', filename='js/barberia/validaciones-momento-1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/barberia/validaciones-momento-2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/barberia/validaciones-momento-3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bloqueo_boton_navegador.js') }}"></script>
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="BarberLocate"></script>
    <script src="{{ url_for('static', filename='js/principal_propietario/menu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cerrar_sesion.js') }}"></script>
    <title>Registro de barbería</title>
</head>
<body id="body">
    <header>
        
        <div id="icono-menu">
            <i class="lni lni-menu" id="btn-menu"></i>
        </div>
        
    </header>
    <nav>

        <div id="menu-lateral" class="menu__side">
    
            <div class="icono-cerrar-menu" id="icono-cerrar-menu">
                <i class="lni lni-close" id="btn-cerrar-menu"></i>
            </div>
    
            <div class="options__menu">	
    
                <a href="/principal_propietario">
                    <div class="option">
                        <i class="fas fa-home" title="Inicio"></i>
                        <h4>Inicio</h4>
                    </div>
                </a>
    
                <a href="/perfil_propietario">
                    <div class="option">
                        <i class="fa-solid fa-user" title="Perfil"></i>
                        <h4>Perfil</h4>
                    </div>
                </a>
                
                <a href="/perfil_barberia">
                    <div class="option">
                        <i class="fa-solid fa-building-user" title="Perfil Barberia"></i>
                        <h4>Perfil Barbería</h4>
                    </div>
                </a>
                
                
                <a href="/barberia_registro" class="selected">
                    <div class="option">
                        <i class="fa fa-plus-square" tittle="Registra tú barberia"></i>
    
                        <h4>Registra tú barberia</h4>
                    </div>
                </a>
    
                <a href="/registrar_horarios">
                    <div class="option">
                        <i class="fas fa-clock"title="Registra el horario de tu barbería"></i>
                        <h4>Registra el horario de tú barberia </h4>
                    </div>
                </a>

                <a href="/registrar_servicios">
                    <div class="option">
                        <i class="fas fa-scissors"title="Registra los servicios de tu barbería"></i>
                        <h4>Registra los servicios de tú barberia </h4>
                    </div>
                </a>


                <a href="#" id="btn-cerrar-sesion">
                    <div class="option">
                        <i class="fa-solid fa-right-to-bracket" title="Cerrar sesión"></i>
                        <h4>Cerrar sesión</h4>
                    </div>
                </a>
    
            </div>
    
        </div>
        
    </nav>
    <main>
        
        <div id="contenedor-logo">
            <div id="logo">
                <img  src="{{ url_for('static', filename='img/logo3.png') }}" alt="Logo_barber_locate">
            </div>
        </div>

        <div id="datos-form">

            <div id="txt">

                <p>Ingresa la información de tu barbería</p>

            </div>
            
            <form action="/barberia_registro" method="POST" id="datos-registro">
    
                    <div id="momento-1">
                        <div class="campos">
                            <input type="text" name="nombre_barberia" id="nombre" placeholder="Nombre de tú barberia" minlength="3" maxlength="25" autocomplete="off">
                            <div id="nombre-error" class="mensaje-error"></div>

                            <input type="text" name="direccion_barberia" id="direccion" placeholder="Dirección" minlength="3" maxlength="25" autocomplete="off">
                            <div id="direccion-error" class="mensaje-error"></div>

                            <input type="tel" name="telefono_negocio" id="celular" placeholder="Número celular del negocio" maxlength="10" autocomplete="off">
                            <div id="celular-error" class="mensaje-error"></div>
                        </div>
                        <button id="btn-siguiente-1" type="button">Siguiente</button>
                    </div>
                    
                    <div id="momento-2" class="hidden">
                        <div class="campos">

                            <input type="text" name="Pais_negocio" id="pais" placeholder="País" minlength="4" maxlength="23" autocomplete="off">
                            <div id="pais-error" class="mensaje-error"></div> 

                            <input type="text" name="departamento_negocio" id="departamento" placeholder="Departamento" minlength="4" maxlength="18" autocomplete="off">
                            <div id="departamento-error" class="mensaje-error"></div>

                            <input type="text" name="ciudad_negocio" id="ciudad" placeholder="Ciudad" minlength="4" maxlength="23" autocomplete="off">
                            <div id="ciudad-error" class="mensaje-error"></div> 
                            
                        </div>

                        <div class="enlaces">

                            <span id="atras-momento-2" class="atras">Atrás</span>
                            <button id="btn-siguiente-2" type="button">Siguiente</button>

                        </div>
                    </div>

                    <div id="momento-3" class="hidden">
                        <div class="campos">

                            <input type="time" name="hora_A" id="hora-apertura" placeholder="Hora apertura">
                            <div id="apertura-error" class="mensaje-error"></div>
                            <span class="aclaracion">* Hora de apertura de tu negocio</span>

                            <input type="time" name="hora_C" id="hora-cierre" placeholder="Hora cierre">
                            <div id="cierre-error" class="mensaje-error"></div>
                            <span class="aclaracion">* Hora de cierre de tu negocio </span>
                        </div>

                        <div id="aviso-error" class="mensaje-error"></div>
                        <div class="enlaces">

                            <span id="atras-momento-3" class="atras">Atrás</span>
                            <button type="submit" id="btn-submit">Registrar barbería</button>

                        </div>
                    </div>
            </form>
        </div>
    </main>
</body>
</html>       