<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Horarios Barberia</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/barberia_horarios.css') }}">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
  <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
</head>
<body>
  <main class="container">
    <div id="arrow">
      <button class="atras" onclick="volverAlPerfil()">
        <i class="lni lni-arrow-left"></i></button>
     </div>
      
   
    <h1>Horarios de Atención</h1>
    <div class="wrapper">
      <div class="days">
        <div class="day">Lunes</div>
        <div class="day">Martes</div>
        <div class="day">Miércoles</div>
        <div class="day">Jueves</div>
        <div class="day">Viernes</div>
        <div class="day">Sábado</div>
        <div class="day">Domingo</div>
      </div>
      <div class="hours">
        <div class="hour">9:00am - 6:00pm <button class="editButton" 
        onclick="editHour(this.parentElement)"><button class="editarPerfil" onclick="mostrarFormularioEdicion()">
        <i class="fas fa-pencil-alt"></i></button></div>

        <div class="hour">9:00am - 6:00pm <button class="editButton"
           onclick="editHour(this.parentElement)"><button class="editarPerfil" onclick="mostrarFormularioEdicion()">
         <i class="fas fa-pencil-alt"></i></button></div>

        <div class="hour">9:00am - 6:00pm <button class="editButton"
           onclick="editHour(this.parentElement)"><button class="editarPerfil" onclick="mostrarFormularioEdicion()">
            <i class="fas fa-pencil-alt"></i></button></div>

        <div class="hour">9:00am - 8:00pm <button class="editButton"
           onclick="editHour(this.parentElement)"><button class="editarPerfil" onclick="mostrarFormularioEdicion()">
            <i class="fas fa-pencil-alt"></i></button></div>
 
        <div class="hour">9:00am - 8:00pm <button class="editButton"
           onclick="editHour(this.parentElement)"><button class="editarPerfil" onclick="mostrarFormularioEdicion()">
           <i class="fas fa-pencil-alt"></i></button></div>

        <div class="hour">10:00am - 4:00pm <button class="editButton" 
          onclick="editHour(this.parentElement)"><button class="editarPerfil" onclick="mostrarFormularioEdicion()">
          <i class="fas fa-pencil-alt"></i></button></div>

        <div class="hour">Cerrado <button class="editButton" 
        onclick="editHour(this.parentElement)"><button class="editarPerfil" onclick="mostrarFormularioEdicion()">
        <i class="fas fa-pencil-alt"></i></button></div>
    
      </div>
    </main>

    <script>
        
</script>
</body>
</html>