* {
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

body, html {
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background: #2f2519;
}

main {
    padding: 0 20px;
}

header{
    height: 50px;
    position: relative;
    width: 100%;
}

div#icono-menu {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 50px;
}

div#icono-menu i{
    color: #d55025;
    font-size: 20px;
}

.menu__side{
    width: 80px;
    height: 100%;
    background: #413423;;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 20px solid #413423;;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*Ocultar scroll para chrome, safari y opera*/
.menu__side::-webkit-scrollbar{
    display: none;
}

/*Ocultar scroll para IE, Edge y Firefox*/
.menu__side{
    -ms-overflow-style: none;
    scrollbar-width: none;
}


div#icono-cerrar-menu{
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

div#icono-cerrar-menu i{
    width: 20px;
    margin-right: 20px;
}

.options__menu{
    padding: 0 30px;
    position: absolute;
    top: 80px;
}

.options__menu a{
    color: #fff6e6;
    cursor: default;
    display: block;
    position: relative;
    transition: color 400ms;
}

.options__menu a:hover{
    color: #eda05a;
}

.options__menu .option{
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .option i{
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.options__menu .option h4{
    font-weight: 300;
    cursor: pointer;
}

a.selected{
    color: #eda05a;
}

.selected:before{
    content: '';
    width: 3px;
    height: 80%;
    background: #eda05a;
    position: absolute;
    top: 10%;
    left: -30px;
}

/*Clases para usar en JavaScript*/

.body_move{
    margin-left: 100px;
}

.menu__side_move{
    width: 250px;
}

@media screen and (min-width: 700px) {
    
}

@media screen and (max-width: 1000px){
    .body_move{
        margin-left: 0px;
    }
    .menu__side_move{
        width: 80px;
        left: -80px;
    }
    div#icono-menu {
        height: 55px;
        width: 55px;
    }
    div#icono-menu i{
        font-size: 25px;
    }
}

@media screen and (min-width: 1000px){
    .body_move{
        margin-left: 250px;
    }
    body{
        margin-left: 80px;
        transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
    div#icono-menu {
        height: 60px;
        position: relative;
        transform: translateX(10px);
        width: 60px;
    }
    div#icono-menu i{
        cursor: pointer;
        font-size: 30px;
        position: absolute;
    }
    div#icono-cerrar-menu {
        display: none;
    }
    header {
        height: 60px;
    }
    main {
        padding: 0 20px;
    }
}