<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BarberLocate</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/principal_page.css') }}">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" > 

    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="BarberLocate"></script>
    
</head>
<style>
.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

</style>

<body id="body">
    
    <header>
        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>
    </header>

    <div class="menu__side" id="menu_side">

        <div class="name__page">
            <i class="fab fa-youtube"></i>
            <h4>BarberLocate</h4>
        </div>

        <div class="options__menu">	

            <a href="#" class="selected">
                <div class="option">
                    <i class="fas fa-home" title="Inicio"></i>
                    <h4>Inicio</h4>
                </div>
            </a>

            <a href="/perfil_propietario">
                <div class="option">
                    <i class="fa-solid fa-user" title="Perfil"></i>
                    <h4>Perfil</h4>
                </div>
            </a>

            <a href="/perfil_barberia">
                <div class="option">
                    <i class="fa-solid fa-user" title="Perfil"></i>
                    <h4>Perfil de la barberia</h4>
                </div>
            </a>

            <a href="/barberia_registro">
                <div class="option">
                    <i class="fa fa-plus-square" tittle="Registra tú barberia"></i>

                    <h4>Registra tú barberia</h4>
                </div>
            </a>



            <a href="/Registro_barbero">
                <div class="option">
                    <i class="fa-solid fa-users" title="Registra tú equipo de trabajo"></i>
                    <h4>Registra tú equipo de trabajo</h4>
                </div>
            </a>

            <a href="/horarios_barberia">
                <div class="option">
                    <i class="fa-solid fa-map-location-dot"title="Mapa"></i>
                    <h4>Horarios</h4>
                </div>
            </a>



            
            <a href="#">
                <div class="option">
                    <i class="fa-solid fa-map-location-dot"title="Mapa"></i>
                    <h4>Mapa</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <i class="fa-solid fa-calendar-days"title="Calendario"></i>
                    <h4>Calendario</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <i class="fa-solid fa-city" title="Notificaciones"></i>
                    <h4>Notificaciones</h4>
                </div>
            </a>


            
           
            <a href="#">
                <div class="option">
                    <i class="fa-solid fa-right-to-bracket" title="cerrar_sesion"></i>
                    <h4>Cerrar Sesión</h4>
                </div>
            </a>

        </div>

    </div>

  
        
   




    <h1>Barberos Asociados</h1>
    <ul>
        {% for persona in barberos %}
            <li>{{ persona[0] }} {{ persona[1] }}  <a onclick="return confirm('seguro eliminar barbero?')" href="/eliminar_barbero/{{persona[2]}}"><i class="lni lni-trash-can" class="btn-danger"></i></a>  </li> <br>
        {% endfor %}
    </ul>
        
    

    <script src="{{ url_for('static', filename='js/principal_page.js') }}"></script>
</body>
</html>