<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/principal_propietario/home-propietario.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/principal_propietario/estilos-menu.css') }}">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/principal_propietario/home-propietario.js') }}"></script>
    <script src="{{ url_for('static', filename='js/principal_propietario/menu.js') }}"></script>
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="BarberLocate"></script>
    <title>Inicio</title>
</head>
<body id="body">
    <header>
        
        <div id="icono-menu">
            <i class="lni lni-menu" id="btn-menu"></i>
        </div>
        
    </header>
    <nav>

        <div id="menu-lateral" class="menu__side">
    
            <div class="icono-cerrar-menu" id="icono-cerrar-menu">
                <i class="lni lni-close" id="btn-cerrar-menu"></i>
            </div>
    
            <div class="options__menu">	
    
                <a href="#" class="selected">
                    <div class="option">
                        <i class="fas fa-home" title="Inicio"></i>
                        <h4>Inicio</h4>
                    </div>
                </a>
    
                <a href="/perfil_propietario">
                    <div class="option">
                        <i class="fa-solid fa-user" title="Perfil"></i>
                        <h4>Perfil</h4>
                    </div>
                </a>
                
                <a href="/perfil_barberia">
                    <div class="option">
                        <i class="fas fa-store" title="Perfil-Barberia"></i>
                        <h4>Perfil Barbería</h4>
                    </div>
                </a>
                
                <a href="/barberia_registro">
                    <div class="option">
                        <i class="fa fa-plus-square" tittle="Registra tú barberia"></i>
    
                        <h4>Registra tú barberia</h4>
                    </div>
                </a>
    
    
    
                
    
                <a href="/horarios_barberia">
                    <div class="option">
                        <i class="fas fa-clock"title="Mapa"></i>
                        <h4>Horarios</h4>
                    </div>
                </a>


                <a href="#">
                    <div class="option">
                        <i class="fa-solid fa-right-to-bracket" title="cerrar_sesion"></i>
                        <h4>Cerrar sesión</h4>
                    </div>
                </a>
    
            </div>
    
        </div>

    </nav>
    <main>
        <h2 id="tlo">Barberos asociados</h2>
        <button id="btn-agregar-barbero" class="esconder" type="button"><a href="/Registro_barbero">Agregar barbero</a></button>
        <section id="info-barberos">
            {% for persona in barberos %}
            <div class="tarjeta-barbero">

                <figure class="contenedor-img-barbero">
                    <img class="img-barbero" src="{{ url_for('static', filename='img/principal_propietario/icono-usuario.png') }}" alt="icono usuario">
                </figure>

                <div class="contenedor-datos-barbero">
                    <p class="nom-barbero">{{ persona[0] }} {{ persona[1] }}</p>
                    <button class="btn-actividad-barbero" type="button">Ver actividad</button>
                </div>
                
                <button class="btn-eliminar-barbero esconder" type="button" onclick="return confirm('seguro eliminar barbero?')"><a href="/eliminar_barbero/{{persona[2]}}"><i class="lni lni-trash-can"></i></a></button>

            </div>
            {% endfor %}
            
        </section>
        <button id="btn-administrar-barberos" type="button">Administrar barberos</button>
    </main>
</body>
</html>