<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/barberia/escoger_barberia.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/principal_propietario/estilos-menu.css') }}">

    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/principal_propietario/home-propietario.js') }}"></script>
    <script src="{{ url_for('static', filename='js/principal_propietario/menu.js') }}"></script>
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="BarberLocate"></script>
    <script src="{{ url_for('static', filename='js/bloqueo_boton_navegador.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cerrar_sesion.js') }}"></script>
    <title>Inicio</title>
</head>
<body id="body">
    



    <header>
        
        <div id="icono-menu">
            <i class="lni lni-menu" id="btn-menu"></i>
        </div>
        
    </header>
    <nav>

        <div id="menu-lateral" class="menu__side">
    
            <div class="icono-cerrar-menu" id="icono-cerrar-menu">
                <i class="lni lni-close" id="btn-cerrar-menu"></i>
            </div>
    
            <div class="options__menu">	
    
                <a href="/principal_barbero" class="selected">
                    <div class="option">
                        <i class="fas fa-home" title="Inicio"></i>
                        <h4>Inicio</h4>
                    </div>
                </a>
    
                <a href="/perfil_barbero">
                    <div class="option">
                        <i class="fa-solid fa-user" title="Perfil"></i>
                        <h4>Perfil</h4>
                    </div>
                </a>
                
                <a href="/registrar_horarios_barbero">
                    <div class="option">
                        <i class="fas fa-clock"title="Mapa"></i>
                        <h4>Registra tus horarios de disponibilidad</h4>
                    </div>
                </a>

                <a href="#" id="btn-cerrar-sesion">
                    <div class="option">
                        <i class="fa-solid fa-right-to-bracket" title="cerrar_sesion"></i>
                        <h4>Cerrar sesión</h4>
                    </div>
                </a>
    
            </div>
    
        </div>

    </nav>
    <body>
        <main>
            <h2 id="tlo">Citas Pendientes</h2>
            <section id="info-barberos">
                {% for cita in citas %}
                <div class="tarjeta-barbero">
                    <figure class="contenedor-img-barbero">
                        <img class="img-barberia" src="{{ url_for('static', filename='img/icono-usuario.png') }}" alt="Icono de barbería">
                    </figure>
                    <div class="contenedor-datos-barbero">
                        <p class="nom-barbero">{{ cita[0] }} {{ cita[1] }}</p> <!-- Nombre y apellido del cliente -->
                        <p>Hora: {{ cita[2] }}</p>
                        <p>Fecha: {{ cita[3] }}</p>
                        <p>Teléfono: {{ cita[4] }}</p>
                        <a class="btn-actividad-barbero" type="button">Ver perfil</a>
                        <button class="bt-escoger-barbero" type="button">Agendar cita</button>
                    </div>
                </div>
                {% endfor %}
            </section>
        </main>
    </body>
    </html>