<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/principal_propietario/home-propietario.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/principal_propietario/estilos-menu.css') }}">

    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/principal_propietario/home-propietario.js') }}"></script>
    <script src="{{ url_for('static', filename='js/principal_propietario/menu.js') }}"></script>
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="BarberLocate"></script>
    <script src="{{ url_for('static', filename='js/bloqueo_boton_navegador.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cerrar_sesion.js') }}"></script>
    <title>Inicio</title>
</head>
<body id="body">
    



    <header>
        
        <div id="icono-menu">
            <i class="lni lni-menu" id="btn-menu"></i>
        </div>
        
    </header>
    <nav>

        <div id="menu-lateral" class="menu__side">
    
            <div class="icono-cerrar-menu" id="icono-cerrar-menu">
                <i class="lni lni-close" id="btn-cerrar-menu"></i>
            </div>
    
            <div class="options__menu">	
    
                <a href="/principal_cliente" class="selected">
                    <div class="option">
                        <i class="fas fa-home" title="Inicio"></i>
                        <h4>Inicio</h4>
                    </div>
                </a>
    
                <a href="/perfil_usuario">
                    <div class="option">
                        <i class="fa-solid fa-user" title="Perfil"></i>
                        <h4>Perfil</h4>
                    </div>
                </a>
                


                <a href="#" id="btn-cerrar-sesion">
                    <div class="option">
                        <i class="fa-solid fa-right-to-bracket" title="cerrar_sesion"></i>
                        <h4>Cerrar sesión</h4>
                    </div>
                </a>
    
            </div>
    
        </div>

    </nav>
        <main>
            <h2 id="tlo">Barberias disponibles</h2>
            <section id="info-barberos">
                {% for barberia in barberias %}
                <div class="tarjeta-barbero">
    
                    <figure class="contenedor-img-barbero">
                        {% if barberia[13] %}
                        <img class="img-barberia" src="{{ url_for('uploaded_file', filename=barberia[13]) }}" alt="Foto de la barbería">
                    {% else %}
                        <img class="img-barberia" src="{{ url_for('static', filename='img/icono-usuario.png') }}" alt="Icono de barbería">
                    {% endif %}
                    </figure>
    
                    <div class="contenedor-datos-barbero">
                        <p class="nom-barbero">{{ barberia[0] }}</p>
                        <button type="button" class="btn-actividad-barbero">

                            <a href="{{ url_for('perfil_barberias', codigo=barberia[0]) }}" type="button">Ver perfil</a>
                        </button>
                    </div>
                    
                </div>
                {% endfor %}
                
            </section>
           
        </main>
    </body>
    </html>