<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
</head>
<body>

    <!-- Formulario de edición de perfil -->
    <h1>Editar Perfil</h1>
    <form action="/editar_user" method="post">
        <input type="hidden" name="ced_U" value="{{ datos_usuario[0] }}">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nom_U" name="nom_U" value="{{ datos_usuario[1] }}">
        <label for="apelli_U">Apellidos:</label>
        <input type="text" id="apelli_U" name="apelli_U" value="{{ datos_usuario[2] }}">
        <label for="Tel_U">Celular:</label>
        <input type="text" id="Tel_U" name="Tel_U" value="{{ datos_usuario[3] }}">
        <label for="ciudad_U">Ciudad:</label>
        <input type="text" id="ciudad_U" name="ciudad_U" value="{{ datos_usuario[4] }}">
        <label for="fech_n_U">Fecha de Nacimiento:</label>
        <input type="text" id="fech_n_U" name="fech_n_U" value="{{ datos_usuario[5] }}">
        <button type="submit">Guardar Cambios</button>
    </form>

    <br>

    <a href="/perfil_usuario">Cancelar</a>
</body>
</html>
