<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil Propietarios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
</head>
<body>

    <!-- Formulario de edición de perfil -->
    <h1>Editar Perfil</h1>
    <form action="/editar_propietario" method="POST">
        <input type="hidden" name="ced_P" value="{{ datos_propietario[0] }}">
        <label for="Tel_U">Celular:</label>
        <input type="text" id="Tel_U" name="Celular_P" value="{{ datos_propietario[4] }}">
        <label for="ciudad_U">Ciudad:</label>
        <input type="text" id="ciudad_U" name="Ciudad_P" value="{{ datos_propietario[8] }}">
        <button type="submit">Guardar Cambios</button>
    </form>

    <br>
    
    <br>
    <a href="/perfil_propietario">Cancelar</a>
</body>
</html>
