<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil Barberos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
</head>
<body>

    <!-- Formulario de edición de perfil -->
    <h1>Editar Perfil</h1>
    <form action="/editar_barbero" method="post">
        <input type="hidden" name="ced_B" value="{{ datos_barbero[0] }}">
        
        <label for="Tel_U">Celular:</label>
        <input type="text" id="Tel_U" name="Tel_B" value="{{ datos_barbero[4] }}">
        <label for="ciudad_U">Ciudad:</label>
        <input type="text" id="ciudad_U" name="ciudad_B" value="{{ datos_barbero[5] }}">
    
        <button type="submit">Guardar Cambios</button>
    </form>

    <br>

    <a href="/perfil_barbero">Cancelar</a>
</body>
</html>
