<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
</head>
<body>

    <!-- Agrega aquí la estructura del cuerpo del perfil según tus necesidades -->
    <h1>Datos del Perfil</h1>
    <p>Cedula: {{ datos_usuario[0] }}</p>
    <p>Nombre: {{ datos_usuario[1] }}</p>
    <p>Apellidos: {{ datos_usuario[2] }}</p>
    <p>Celular: {{ datos_usuario[3] }}</p>
    <p>Ciudad: {{ datos_usuario[4] }}</p>
    <p>Fecha de Nacimiento: {{ datos_usuario[5] }}</p>

    <br>
    <a href="/editar_user">Editar Información</a>

    <br>
    <a href="/principal_cliente">Regresar</a>
</body>
</html>
