
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Perfil de la Barbería</title>
    
</head>
<body>
    <h1>Perfil de la Barbería</h1>
    <p>Nombre: {{ datos_barberia[1] }}</p>
    <p>Dirección: {{ datos_barberia[2] }}</p>
    <p>Teléfono: {{ datos_barberia[6] }}</p>
    <p>Ciudad: {{ datos_barberia[3] }}</p>
    <p>Departamento: {{ datos_barberia[4] }}</p>
    <p>País: {{ datos_barberia[5]}}</p>
    <br>

    <a href="/principal_propietario">REGRESAR</a>
    <br>
    <a href="/registrar_horarios">REGISTRA LOS HORARIOS DE TU NEGOCIO</a>
    <br>
    <a href="/mostrar_horarios_barberia">VER HORARIOS</a>

</body>
</html>
