<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
</head>
<body>

    <!-- Agrega aquí la estructura del cuerpo del perfil según tus necesidades -->
    <h1>Datos del Perfil</h1>
    <p>Cedula: {{ datos_propietario[0] }}</p>
    <p>Nombre: {{ datos_propietario[1] }}</p>
    <p>Apellidos: {{ datos_propietario[2] }}</p>
    <p>Celular: {{ datos_propietario[4] }}</p>
    <p>Ciudad: {{ datos_propietario[8] }}</p>
    <p>Fecha de Nacimiento: {{ datos_propietario[9] }}</p>

    <a href="/principal_propietario">Regresar</a>
</body>
</html>