<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>perfil propietario</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/barbero/perfil.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/principal_propietario/estilos-menu.css') }}">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
  <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
  <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="BarberLocate"></script>
  <script src="{{ url_for('static', filename='js/bloqueo_boton_navegador.js') }}"></script>
  <script src="{{ url_for('static', filename='js/principal_propietario/menu.js') }}"></script>
  <script src="{{ url_for('static', filename='js/cerrar_sesion.js') }}"></script>
    
 
  <style>
      
   
.lni {
  flex-direction:column;
  font-size: 23px;
   text-align: center;
   
  
}

.icono{
  display: flex;
  position:relative;
  bottom: 23%;
  left: 26%;
  flex-direction: column; 
}

.icono{
  font-size: 1.5rem;
  color: #e78655;
}


ul{
  list-style-type: none;
}

#volver {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px; /* Añade un poco de espacio alrededor del botón para evitar que esté pegado a los bordes */
}

#volver i {
    color: #EDA05a;
    font-size: 2.0em;
    display: block;
}

#volver a {
    text-decoration: none;
}
</style>

</head>
<body id="body">
    <header>
        
        <div id="icono-menu">
            <i class="lni lni-menu" id="btn-menu"></i>
        </div>
        
    </header>
    <nav>

        <div id="menu-lateral" class="menu__side">
    
            <div class="icono-cerrar-menu" id="icono-cerrar-menu">
                <i class="lni lni-close" id="btn-cerrar-menu"></i>
            </div>
    
            <div class="options__menu">	
    
                <a href="/principal_propietario">
                    <div class="option">
                        <i class="fas fa-home" title="Inicio"></i>
                        <h4>Inicio</h4>
                    </div>
                </a>
    
                <a href="/perfil_propietario" class="selected">
                    <div class="option">
                        <i class="fa-solid fa-user" title="Perfil"></i>
                        <h4>Perfil</h4>
                    </div>
                </a>
                
                <a href="/perfil_barberia">
                    <div class="option">
                        <i class="fa-solid fa-building-user" title="Perfil Barberia"></i>
                        <h4>Perfil Barbería</h4>
                    </div>
                </a>
                
                
                <a href="/barberia_registro">
                    <div class="option">
                        <i class="fa fa-plus-square" tittle="Registra tú barberia"></i>
    
                        <h4>Registra tú barberia</h4>
                    </div>
                </a>
    
                <a href="/registrar_horarios">
                    <div class="option">
                        <i class="fas fa-clock"title="Registra el horario de tu barbería"></i>
                        <h4>Registra el horario de tú barberia </h4>
                    </div>
                </a>

                <a href="/registrar_servicios">
                    <div class="option">
                        <i class="fas fa-scissors"title="Registra los servicios de tu barbería"></i>
                        <h4>Registra los servicios de tú barberia </h4>
                    </div>
                </a>


                <a href="#" id="btn-cerrar-sesion">
                    <div class="option">
                        <i class="fa-solid fa-right-to-bracket" title="Cerrar sesión"></i>
                        <h4>Cerrar sesión</h4>
                    </div>
                </a>
    
            </div>
    
        </div>
        
    </nav>
    <main class="container">

        <div class="seccion-perfil-usuario">
              <div class="perfil-usuario-avatar">
                {% if datos_propietario[13] %}
                <img class="foto-perfil" src="{{ url_for('uploaded_file', filename=datos_propietario[13]) }}" alt="foto_de_perfil">
            {% else %}
            <img class="foto-perfil" src="{{ url_for('static', filename='img/principal_propietario/profile-icon.jpg') }}" alt="Logo_perfil">
            {% endif %}

              <form action="/subir_foto_perfil" method="POST" enctype="multipart/form-data">
              <input type="file" id="input-foto" name="foto_perfil" accept="image/*" style="display: none;">
              
              <div class="enviarf">
                <button class="subirf" type="submit">Subir foto</button>
              </div>
            </form>
              <label for="input-foto" class="boton-avatar"><i class="lni lni-plus"></i></label> 
              
            </div>
              
             
        </div>

         <div class="nombre-admin">
          <p>{{ datos_propietario[1] }} {{ datos_propietario[2] }}</p>
         </div>
         <div class="lineaC"></div>
         
       <section class="perfil-usuario-footer">
        
        <button class="editarPerfil" onclick="window.location.href='/editar_propietario'">
          <i class="lni lni-pencil"></i>
        </button>

     
        <br>
        <ul class="lista-datos">
          
          <li><span class="inform">Cliente</span></li>
          <li><span class="inform">{{ datos_propietario[0] }}</span></li>
          <li><span class="inform">{{ datos_propietario[4] }}</span></li> 
          <li><span class="inform">{{ datos_propietario[8] }}</span></li>
          <li><span class="inform">{{ datos_propietario[9] }}</span></li>
       </ul>
      
       <div class="icono">
        <div class="icon"><i class="lni lni-user"></i></div>
        <div class="icon"><i class="fas fa-id-card"></i></div>
        <div class="icon"><i class="lni lni-phone"></i></div>
        <div class="icon"><i class="fas fa-city"></i></div>
        <div class="icon"><i class="fa fa-birthday-cake"></i></div>
       </section>
      </main>

  <script>

     // cargar la foto con el ID 'input-foto'
    document.getElementById('input-foto').addEventListener('change', function(event) {
        var imagen = event.target.files[0];
        var reader = new FileReader();
        
        reader.onload = function(e) {
            document.getElementById('foto-perfil').src = e.target.result;
        }
        
    reader.readAsDataURL(imagen);
});




</script>
</body>
</html>