<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar Horarios Disponibles</title>
</head>
<body>
    <h2>Selecciona una Fecha</h2>
    <form action="{{ url_for('mostrar_horarios_disponibles') }}" method="POST">
        <input type="hidden" name="cedula_barbero" value="{{ cedula_barbero }}">
        <input type="date" name="fecha" id="fecha">
        <button type="submit">Mostrar Horarios</button>
    </form>


    {% if horarios %}
    <h2>Horarios Disponibles</h2>
    <ul>
        {% for horario in horarios %}
        <li>{{ horario[2] }}-{{ horario[0] }} a {{ horario[1]}}-{{ horario[3]}}</li>
        {% endfor %}
    </ul>
    {% elif error %}
    <p>{{ error }}</p>
    {% endif %}

   

    <br>
    <a href="{{ url_for('seleccionar_servicios', cedula_barbero=cedula_barbero) }}" class="btn-actividad-barbero" type="button">selecciona los servicios</a>

</body>
</html>
