<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar Horarios Disponibles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/horario_disponible.css') }}">
</head>
<body>
    <main class="contenedor">
     
    <div class="selecciona-fecha">
        <h2 class="ttlo-select">Selecciona una Fecha</h2>
        <form class="form-datos" action="{{ url_for('mostrar_horarios_disponibles') }}" method="POST">
            <input class="dat-calenda" type="hidden" name="cedula_barbero" value="{{ cedula_barbero }}">
            <input  class="dat-calenda" type="date" name="fecha" id="fecha">
            <button class="bton-mostrar" type="submit">Mostrar Horarios</button>
        </form>
    </div>


    {% if horarios %}
    <h2>Horarios Disponibles</h2>
    <ul>
        {% for horario in horarios %}
        <li>{{ horario[2] }}-{{ horario[0] }} a {{ horario[1]}}-{{ horario[3]}}</li>
        {% endfor %}
    </ul>
    {% elif error %}
    <p>{{ error }}</p>
    {% endif %}
    <button class="btn-actividad-barbero" type="button">
        <a class="enlace" href="{{ url_for('seleccionar_servicios', cedula_barbero=cedula_barbero) }}">selecciona los servicios</a>

    </button>
 </main> 
</body>
</html>
