<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos-login.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bloqueo_boton_navegador.js') }}"></script>
    <title>Iniciar sesión</title>
</head>
<body>


    <main>
        <div id="contenedor-logo">
            <div id="logo">
                <img src="{{ url_for('static', filename='img/logo3.png') }}" alt="Logo BarberLocate">
            </div>
        </div>
        <div id="datos-form">
            <form action="/login" method="POST" id="datos-log">
                <div id="campos">
                    <input type="text" name="correo_user" id="email" placeholder="ejemplo@ejemplo.com" autocomplete="off" required>
                    <div id="email-error" class="mensaje-error"></div>
                    <input type="password" name="contrasena" id="contrasena" placeholder="Contraseña" required>
                    <div id="contra-error" class="mensaje-error"></div>
                </div>
                <button type="submit" id="btn">Ingresar</button>
            </form>
            <div id="texto-cuenta">
                <a href="/registro"><p>Crear cuenta</p></a>
            </div>
            <div id="texto-contra">
                <a href="/recuperar_contra"><p>Olvidé mi contraseña</p></a>
            </div>
        </div>
    </main>
</body>
</html>