<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos-restaurar.css') }}">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/bloqueo_boton_navegador.js') }}"></script>
    <script src="{{ url_for('static', filename='js/restaurar.js') }}"></script>
    <title>Restaurar contraseña</title>
</head>
<body>
    <main>

        <div id="volver">
            <a href="/">
                <i class="lni lni-arrow-left"></i>
            </a>
        </div>
        
        <div id="contenedor-logo">
            
            <div id="logo">
                <img src="{{ url_for('static', filename='img/logo3.png') }}" alt="Logo BarberLocate">
            </div>
    
        </div>

        <div id="formulario">

            <div id="txt">

                <p>Restauración de contraseña</p>

            </div>

            <form action="recuperar_contra" method="POST" id="datos-res">

                <div id="campos">

                    <input type="text" name="cedula_user" id="cedula_user" placeholder="Número de identificación" minlength="6" maxlength="15" required autocomplete="off">
                    <div id="cedula-error" class="mensaje-error"></div>

                    <input type="date" name="nacimiento_user" id="f_nacimiento">
                    <div id="f_nacimiento-error" class="mensaje-error"></div>

                    <input type="password" name="contrasena" id="contrasena" placeholder="Contraseña" required>
                    <ul id="requer-contra" class="mensaje-error">
                        <li id="long-min">Debe tener mínimo 8 caracteres.</li>
                        <li id="mayus">Debe contener al menos 1 letra mayúscula.</li>
                        <li id="minus">Debe contener al menos 1 letra minúscula.</li>
                        <!-- <li id="numero">Debe contener al menos 1 número.</li>
                        <li id="car-especial">Debe contener al menos un caracter especial.</li> -->
                    </ul>

                    <input type="password" name="confirmar-contra" id="confirmar-contra" placeholder="Confirmar contraseña" required>
                    <div id="confirmar-contra-error" class="mensaje-error"></div>

                </div>

                <div id="aviso-error" class="mensaje-error"></div>

                <button type="submit" id="btn">Restaurar</button>
            </form>

        </div>
        <h2>{{exito}}</h2>
        <h2>{{invalidados}}</h2>
    </main>
</body>
</html>