<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/barbero/estilos-registro-barbero.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mensaje_flash.css') }}">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/registro/validaciones_momento-1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/registro/validaciones_momento-2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/registro/validaciones_momento-3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bloqueo_boton_navegador.js') }}"></script>
    <title>Registro de barbero</title>


    <style>
        .modal {
    display: none; /* Oculta la ventana modal por defecto */
    position: fixed; /* Fija la posición de la ventana modal */
    z-index: 1; /* Asegura que la ventana modal esté por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completo */
    overflow: auto; /* Permite el desplazamiento si es necesario */
    background-color: rgba(0,0,0,0.4); /* Fondo oscuro con transparencia */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centra la ventana modal */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho de la ventana modal */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.mensaje-error {
text-align: left;
color: rgb(204, 190, 190);
display: block;
        }
    
    </style>
</head>
<body>



    <main>

        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p id="modal-message"></p>
            </div>
        </div>
        

        <div id="volver">
            <a href="/principal_propietario">
                <i class="lni lni-arrow-left"></i>
            </a>
        </div>
        
        <div id="contenedor-logo">
            <div id="logo">
                <img  src="{{ url_for('static', filename='img/logo3.png') }}" alt="Logo_barber_locate">
            </div>
        </div>

        <div id="datos-form">

            <div id="txt">

                <p>Ingresa la información del barbero</p>

            </div>
            
            <form action="/Registro_barbero" method="POST" id="datos-registro">
    
                    <div id="momento-1">
                        <div class="campos">
                            <input type="text" name="nombre_barberoP" id="nombre" placeholder="Nombre" minlength="3" maxlength="25" autocomplete="off">
                            <div id="nombre-error" class="mensaje-error"></div>

                            <input type="text" name="apellidos_barberoP" id="apellidos" placeholder="Apellido" minlength="3" maxlength="25" autocomplete="off">
                            <div id="apellidos-error" class="mensaje-error"></div>

                            <input type="text" name="cedula_barberoP" id="cedula" placeholder="Número de identificación" minlength="6" maxlength="12" autocomplete="off">
                            <div id="cedula-error" class="mensaje-error"></div>

                            <input type="date" name="f_nacimiento_bP" id="f_nacimiento">
                            <div id="f_nacimiento-error" class="mensaje-error"></div>
                            <span class="aclaracion">* Fecha de nacimiento</span>
                        </div>
                        <button id="btn-siguiente-1" type="button">Siguiente</button>
                    </div>
                    
                    <div id="momento-2" class="hidden">
                        <div class="campos">
                            <input type="text" name="departamento_barberoP" id="departamento" placeholder="Departamento" minlength="4" maxlength="18" autocomplete="off">
                            <div id="departamento-error" class="mensaje-error"></div>

                            <input type="text" name="ciudad_barberoP" id="ciudad" placeholder="Ciudad" minlength="4" maxlength="23" autocomplete="off">
                            <div id="ciudad-error" class="mensaje-error"></div> 

                            <input type="tel" name="celular_barberoP" id="celular" placeholder="Número de celular" maxlength="10">
                            <div id="celular-error" class="mensaje-error"></div>
                        </div>

                        <div class="enlaces">

                            <span id="atras-momento-2" class="atras">Atrás</span>
                            <button id="btn-siguiente-2" type="button">Siguiente</button>

                        </div>
                    </div>

                    <div id="momento-3" class="hidden">
                        <div class="campos">

                            <input type="email" name="correo_barberoP" id="correo" placeholder="Correo electrónico">
                            <div id="correo-error" class="mensaje-error"></div>

                            <input type="password" name="contrasena_barberoP" id="contrasena" placeholder="Contraseña">
                            <ul id="requer-contra" class="mensaje-error">
                                <li id="long-min">Debe tener mínimo 8 caracteres.</li>
                                <li id="mayus">Debe contener al menos 1 letra mayúscula.</li>
                                <li id="minus">Debe contener al menos 1 letra minúscula.</li>
                                <!-- <li id="numero">Debe contener al menos 1 número.</li>
                                <li id="car-especial">Debe contener al menos un caracter especial.</li> -->
                            </ul>

                            <input type="password" name="confir_contra_barberoP" id="confirmar-contrasena" placeholder="Confirmar contraseña">
                            <div id="conf-contrasena-error" class="mensaje-error"></div>
                        </div>

                        <div id="aviso-error" class="mensaje-error"></div>
                        <div class="enlaces">

                            <span id="atras-momento-3" class="atras">Atrás</span>
                            <button type="submit" id="btn-submit">Registrar barbero</button>

                        </div>
                    </div>
            </form>
            <p class="mensaje-error">{{msj}}</p>
            <p class="mensaje-error">{{msjB}}</p>
            <p class="mensaje-error">{{error_correo_B}}</p>
            <p class="mensaje-error">{{error_correo_P}}</p>
            <p class="mensaje-error">{{error_correo_U}}</p>
            <p class="mensaje-error">{{mensaje_edad}}</p>
            <p class="mensaje-error">{{msj_error_propietario}}</p>
            <p class="mensaje-error">{{msj_error_cliente}}</p>
        </div>
    </main>
</body>
</html>       